.toggle_group {
	border: 1px solid #ccc;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	max-width: max-content;
	margin: 10px auto;
	background-color: white;
	overflow: hidden;
}

/* Hide the default radio button */
.toggle_group input[type="radio"] {
	/* Visually hide the radio button but keep it accessible via keyboard */
	opacity: 0;
	position: absolute;
}

/* Style the radio icon */
.toggle_group input[type="radio"] + label {
	cursor: pointer;
	padding: 10px 20px;
	background-color: #5d92c0;
	color: white;
	transition: all 0.3s ease;
}

/* Change the color of the label when the icon is selected */
.toggle_group input[type="radio"]:not(:is(:checked)) + label {
	background-color: white;
	color: grey;
}
