.container {
	display: flex;
	flex-direction: column;
}

.container select {
	padding: 10px;
	text-align: center;
}

.sideBar_container {
	width: 20%;
}

.content_container {
	flex-grow: 1;
	display: flex;
	justify-content: center; /* Center inner content horizontally */
	padding: 1rem;
}
