@font-face {
	font-family: "Digital-7";
	src: url("/fonts/digital-7.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.container {
	color: #9d9c9c;
	text-align: center;
	font-size: 1.6em;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.button_container {
	margin-top: 20px;
	display: flex;
	align-content: center;
	align-items: center;
}

.timer_bar_container {
	background-color: lightgray;
	padding: 20px 40px;
	margin-top: 20px;
	width: 100%;
}

.timer_bar_outer {
	background-color: black;
	/* border-radius: 5px; */
	border: 2px solid black;
	max-width: 100%;
	display: flex;
	justify-content: end;
}

.timer_bar {
	height: 15px;
	background-color: white;
	/* border-radius: 5px; */
	transition: width 0.1s linear;
}

.time_display {
	margin-top: 30px;
	padding: 0 15px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Digital-7", sans-serif;
	font-size: 1.7rem;
}

/*media query for mobile devices*/
@media (max-width: 768px) {
	.timer_bar_container {
		padding: 10px 20px;
	}
	.timer_bar {
		height: 8px;
	}
	.time_display {
		font-size: 1.5rem;
	}
}

.btn {
	font-size: small;
	padding: 0.2rem 0.2rem 0rem 0.2rem;
	width: 4rem;
	margin: 2px;
	color: #dbdbdb;
	cursor: pointer;
	border: solid #dbdbdb 2px;
	background-color: transparent;
	transition: all 0.25s ease-out;
}

.btn:hover {
	color: grey;
	border-color: grey;
}

.start:hover {
	color: green;
}

.start:focus {
	outline: none;
}

.stop:hover {
	color: #c82333;
}

.stop:focus {
	outline: none;
}

.stop:disabled {
	color: #dbdbdb;
	cursor: default;
}

.stop:disabled:hover {
	color: #dbdbdb;
	border-color: #dbdbdb;
	cursor: default;
}

.reset {
	cursor: pointer;
}

.reset:hover {
	color: blue;
}

.reset:focus {
	outline: none;
}

:fullscreen .time_display {
	font-size: 3rem;
}
